* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li:first-child {
    color: red;
}

span:first-of-type {
    color: red;
}

p:first-of-type {
    color: blue;
}

li:nth-last-child(1) {
    color: red;
}
.container :not(.excluido) {
    color: red;
}